<p>
  <strong>Имя:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Телефон:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Описание:</strong>
  <%= @customer.description %>
</p>

<%= link_to 'Назад', customers_path %>
